@charset "UTF-8";
/* CSS Document */
/*media (max-width: 1000px) and (min-width: 726px)
Phones: 320 - 767
Tables: 768 - 1023
Desktop: 1024+ */

/*Desktop*/
@media (min-width: 1024px) {
body {
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 3rem;
	color: #DFA4AA;
}
h2 {
	font-size: 2rem;
	color: #DFA4AA;
} 
p {
	font-family: 'lato', sans-serif;
	color: black;
	font-size: 1rem;
}
a {
	color: white;
}
nav {
	background-color: #A26B82;
	padding: 1%;
}
nav ul {
	list-style-type: none;
	position: center;
}
nav ul li {
	display: inline;
	font-size: 1.25rem;
	padding: 2%;
}
.banner img {
	width: 90%;
}
.intro {
	padding: 2%;
}
.gallery {
	display: inline-block;
}
.gallery img {
	width: 25%;
	height: 25%;
}
footer {
	background-color: #A26B82;
	bottom: 0;
	padding: 2%;
	clear: both;
}
footer ul {
	color: white;
	list-style-type: none;
	position: center;
}
footer ul li {
	display: inline;
	font-size: 1rem;
	padding: 0.5%;
}
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
	h1 {
		
	}
	h2 {
		
	}
	h3 {
		
	}
	p {
		
	}
	nav ul li {
		font-size: 1rem;
	}
}

/*Mobile*/
@media (min-width: 320px) and (max-width: 767px) {
	h1 {
		font-size: 1rem;
	}
	h2 {
		
	}
	h3 {
		
	}
	p {
		
	}
}
