@charset "UTF-8";
/* CSS Document */
/*media (max-width: 1000px) and (min-width: 726px)
Phones: 320 - 767
Tables: 768 - 1023
Desktop: 1024+ */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
	text-align: center;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 4.5rem;
	color: #DFA4AA;
	font-family: 'Sacramento', cursive;
}
h2 {
	font-size: 2.5rem;
	color: #DFA4AA;
	font-family: 'Sacramento', cursive;
} 
h3 {
	font-size: 1.75rem;
	font-family: 'Sacramento', cursive;
	color: #DFA4AA;
	}
p {
	font-family: sans-serif;
	color: black;
	font-size: 0.95rem;
	font-weight: lighter;
}
a {
	color: white;
}
nav {
	background-color: #A26B82;
	padding: 0.5%;
}
nav ul {
	list-style-type: none;
	position: center;
}
nav ul li {
	display: inline;
	font-size: 1.25rem;
	padding: 1%;
}
.banner img {
	width: 85%;
}
.intro {
	padding: 2%;
}
.gallery {
	display: inline-block;
}
.gallery img {
	width: 25%;
	height: 25%;
}
footer {
	background-color: #A26B82;
	bottom: 0;
	padding: 2%;
	clear: both;
}
footer ul {
	color: white;
	list-style-type: none;
	position: center;
}
footer ul li {
	display: inline;
	font-size: .9rem;
	padding: 0.5%;
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
	h1 {
		
	}
	h2 {
		
	}
	h3 {
		
	}
	p {
		
	}
	nav ul li {
		font-size: 1rem;
	}
	banner img {
		width: 100%;
	}
}

/*Mobile*/
@media (min-width: 320px) and (max-width: 767px) {
	h1 {
		font-size: 1rem;
	}
	h2 {
		
	}
	h3 {
		
	}
	p {
		
	}
}
